# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
deploy/deploy.conf
deploy/VPS_CREDENTIALS.local.txt
deploy/vps_deploy_key
deploy/vps_deploy_key.pub
deploy/askpass.cmd
deploy/askpass_qnj.cmd
deploy/askpass.py

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
